body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 15px;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    color: #333;
}



h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #555;
}

#infoBox {
    border: 2px solid #ddd;
    padding: 15px;
    min-height: 50px;
    margin: 10px 0;
    background: #fff;
    border-radius: 5px;
}

.map-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

#href{
    text-decoration: none !important;
}

.map-container img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.country-button {
    position: absolute;
    background-color: #2c3e50;    
    color: white;
    border: none;
    padding: 2px 3px;
    font-size: 3vw;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.country-button:hover {
    background-color: #2c3e50;    
}
/* Navigation Button */
.nav-button {
    background-color: #2c3e50;    
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    margin: 20px auto;
    display: block;
    text-decoration: none !important;
}

.nav-button:hover {
    background-color: #2c3e50;
}
